
{% extends 'base.html'%}

{% block content %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Content</th>
            <th>Active</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for instance in object_list %}
        <tr>
            <td>{{ instance.id }}</td>
            <td><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></td>
            <td>{{ instance.content }}</td>
            <td>{{ instance.active }}</td>
            <td>
                <form action="/articles/{{ instance.id }}/delete/" method="POST"> 
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
            <td>
                <form action="/articles/{{ instance.id }}/update/" method="GET"> 
                    {% csrf_token %}
                    <input type="submit" value="Edit">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}